  <div class="main">
    <div>
      <h1 class="title">Welcome to Crypto Devs!</h1>
      <div className="description">
        Its an NFT collection for developers in Crypto.
      </div>
      <div class="description">
        {{numberOfWhitelisted}} have already joined the Whitelist
      </div>
      <ng-container *ngIf="walletConnected;else desconnected">
        <ng-container *ngIf="joinedWhitelist;else loading">
          <div class="description">
            Thanks for joining the Whitelist!!
          </div>
          <ng-template #loading *ngIf="loading; else join">
            <button class="button">
              Loading...
            </button>
          </ng-template>
          <ng-template #join>
            <button (click)="addAddressToWhitelistContract()" class="button">
              Join the Whitelist
            </button>
          </ng-template>
        </ng-container>
      </ng-container>
    </div>
    <div>
      <img class="image" src="../assets/imagen/crypto-devs.svg" />
    </div>
    <footer class="footer">
      Made with &#10084; by Crypto Devs
    </footer>
  </div>

  <ng-template #desconnected>
    <button (click)="connectWallet()" class=button>
      Connect your wallet
    </button>
  </ng-template>

